<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  <style>
    pre {
      word-wrap: break-word !important;
      overflow-wrap: break-word !important;
      white-space: break-spaces !important;
    }
    body{
      margin: 20px;
    }
    img{
      max-width: 100%;
    }
  </style>
  </head>
  <body>
    <section>
      {{ content }}
    </section>
    <footer>
      &copy; to chenxizhang under MIT license
    </footer>
  </body>
</html>