# This is a basic workflow to help you get started with Actions

name: publish to powershell gallery

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  # release:
  #   types: [created,published]
  push:
    branches: [master]
    paths:
      - "**.psd1"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  publishmodule:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: dlemstra/code-sign-action@v1
        with:
          certificate: '${{ secrets.CERTIFICATE }}'
          password: '${{ secrets.CERTIFICATE_PASSWORD }}'
          folder: 'code365scripts.openai'
          recursive: true
          files: |
            *.ps1
      # - name: Publish Module to PowerShell Gallery (openai)
      #   uses: chenxizhang/publish-powershell-module-action@v35
      #   id: publish-openai
      #   with:
      #     modulePath: code365scripts.openai
      #     NuGetApiKey: ${{secrets.NUGETKEY}}
      - name: Publish PowerShell Module
        uses: natescherer/publish-powershell-action@v1
        with:
          token: ${{ secrets.NUGETKEY }}
          target: gallery
          path: code365scripts.openai/code365scripts.openai.psd1